@charset "utf-8";

@font-face {
    font-family: "Press Start 2P";
    src: url('../Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    }

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

:root {
    --cor-01: #007cbe;
    --cor-02: #4D59FA;
    --cor-03: #07004d;
    --cor-especial: #56e39f;
    
    --fonte-1: Arial, Helvetica, sans-serif;
    --fonte-2: "Press Start 2P", system-ui;
    --fonte-3: "Bangers", system-ui;

}

body {
    font-family: var(--fonte-1);
}

.navbr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
    color: var(--cor-01);
    font-family: var(--fonte-2);
    font-weight: normal;
    font-size: 3em;
    padding: 10px;
    text-transform: uppercase;
}

nav {
    background-color: var(--cor-02);
    padding: 50px;
    border-radius: 0 0 0 100px;
    margin: -20px -20px 0 0;
    width: 70vw;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: 8px;
    margin-left: 30px;
}

nav a:hover {
    color: var(--cor-especial);
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

main {
    padding-left: 30px;
    padding-bottom: 50vh;
}

main h1 {
    padding-top: 50px;
    font-size: 2.5em;
    font-family: var(--fonte-3);
}

main h2 {
    font-family: var(--fonte-3);
    font-size: 2.3em;
    padding-top: 50px;
}

main p {
    padding-top: 30px;
    text-indent: 40px;
    line-height: 1.8em;
    font-size: 1.5em;
}

#Downloads h2 {
    color: var(--cor-03);
    text-align: center;

}

#Downloads a {
    text-decoration: none;
    color: var(--cor-02);
}

#Downloads a:hover {
    text-decoration: underline;
    background-color: var(--cor-especial);
    padding: 2px 5px;
    border-radius: 5px;
}

#Downloads p {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: left;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}